<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white fixed-top">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/brand_white.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Workder
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" >{{company.name | uppercase}}</a>
      </li>
    </ul>
    <img  class="float-right profile" [src]="url_profile" />
  </div>
</nav>