<div class="text-center mt-5 box"> 
    <div>
        <img src="../../../assets/images/brand.png" class="img-brand" alt="brand">
    </div>

    <div class="login mt-5">
        <h1>Login</h1>
        <form #userLogin='ngForm' (ngSubmit)="ngLogin(userLogin)">
            <div class="inputs">
                <div class="ui-inputgroup mt-5">
                    <span class="ui-float-label">
                        <input  id="float-input" class="form-control" [(ngModel)]="user.email" 
                                type="email" name="email" size="25" pInputText (change)="validEmail()"
                                required> 
                        <label for="float-input">Email</label>
                        <small id="emailHelp" class="alertMsg">{{alertEmail}}</small>
                    </span>
                </div>
                <div class="ui-inputgroup mt-4">
                    <span class="ui-float-label">
                        <input  id="float-input" class="form-control" [(ngModel)]="user.password" 
                                type="password" name="password" size="25" pInputText (change)="validPassword()"
                                required> 
                        <label for="float-input">Password</label>
                        <small id="emailHelp" class="alertMsg">{{alertPassword}}</small>
                    </span>
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-4 mr-5" [disabled]="!userLogin.form.valid">Login</button>
            <button type="button" class="btn btn-danger mt-4 ml-5" (click)="ngClear()">Limpiar</button>
        </form>
    </div>

</div>   