@media only screen and (min-width: 1030px) {/*FULL VIEW*/
    .img-brand{
        width: 15%;
    }
    .inputs{
        margin-left: 42%;
    }
}

@media only screen and (max-width: 1030px) {/*MIDDLE VIEW*/
    .img-brand{
        width: 25%;
    }
    .inputs{
        margin-left: 38%;
    }
}

@media only screen and (max-width: 770px) {/*MIDDLE VIEW*/
    .img-brand{
        width: 25%;
    }
    .inputs{
        margin-left: 30%;
    }
}

.dataUser{
    margin-top: 3%;
}

.box{
    padding: 3%;
}

.alertMsg{
    font-weight: bold;
    color: rgb(182, 0, 0);
}

input{
    border: none;
    border-bottom: 1px solid black;
}