.brand{
    width: 15%;
}


#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(28, 28, 29), rgb(41, 41, 41));
}

#separator{
    height: 15%;
    background-image: linear-gradient(to bottom right, blue, rgb(89, 0, 255));
    position: relative;
}

.inputs{
    margin-top: 5%;
    width: 75%;
}