.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.list-group, .list-group-flush, .list-group-item{
    background: none;
}

.application {
    margin-top: 6%;
}

a{
    color:white;
}

/*TO FOOTER STAY IN BOTTOM*/
.content{
    min-height: 100%;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(77, 77, 77), rgb(0, 0, 0));
}