/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


/*TO FOOTER STAY IN BOTTOM*/
html, body {
      height: 100%;
}

*{
      font-family: "Josefin Sans";
}

.btn{
      font-size: 1.3em;
      font-family: "Poppins";
}

a:hover{
      text-decoration: none;
}


.btn-danger{
      background-image: linear-gradient(to bottom right, rgba(255, 121, 11, 0.884), rgb(179, 102, 1));
      border: none;
}

.btn-success{
      background-image: linear-gradient(to bottom right, rgba(13, 0, 85, 0.884), rgb(7, 4, 179));
      border: none;
}

h1{
      font-family: "Anton";
      font-size: 3.5em;
      text-transform: uppercase;
}

.form-control{
      border:none;
      border-bottom: 1px solid orange;
}

/* Navbar */
.elementProfile{
      text-transform: uppercase;
}
.elementProfile:hover {
      cursor: pointer;
}

@media only screen and (min-width: 1030px) {/*FULL VIEW*/
      .heigth-picture{
          width: 18%;
      }

  }
  
  @media only screen and (max-width: 1030px) {/*MIDDLE VIEW*/
      .heigth-picture{
          width: 40%;
      }

  }
  
  @media only screen and (max-width: 770px) {/*SHORT VIEW*/
      .heigth-picture{
          width: 30%;
      }
  }

.hidden-element{
      display: none;
}

/* ICONOS TABLA */
.iconsTable{
      transition: 0.5s;
      width: 5%;
      margin: 5%;
}


.iconsTable:hover{
      transition: 0.5s;
      cursor: pointer;
      width: 7%;
      margin: 5%;
}